header{
    height: 100%;
    background-color: #fffbf0;
}
.nav-list{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* .head-con{
    margin: 20px auto;
} */
.nav-color{
    background-color: #fffbf0;
}
.navbar-logo img{
    width: 200px;
}
.front-bg img{
    width: 300px;
    
}
.buy-now-btn{
    background-color: #a4bc46;
    font-weight: bold;
    border-radius: 10px;
}
.buy-now-btn a{
    color: white;
    text-decoration: none;
}
.orange-color{
    color: #fabe4c;
}
.head-title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}
.product-img img{
    width: 300px;
    height: 100%;
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.product-card{
    padding: 40px;
    border-radius: 10px;
}