header{
    height: 100%;
    background-color: #fffbf0;
}
.nav-list{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}
/* .head-con{
    margin: 20px auto;
} */
.nav-color{
    background-color: #fffbf0;
}
.navbar-logo img{
    width: 200px;
}
.front-bg img{
    width: 300px;
    
}
.buy-now-btn{
    background-color: #a4bc46;
    font-weight: bold;
    border-radius: 10px;
}
.buy-now-btn a{
    color: white;
    text-decoration: none;
}
.orange-color{
    color: #fabe4c;
}
.head-title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue', cursive;
}
.product-img img{
    width: 300px;
    height: 100%;
    padding: 30px;
    background-color: #f1f1f1;
    border-radius: 10px;
}
.product-card{
    padding: 40px;
    border-radius: 10px;
}
.card{
    border: 0;
}
.card-img img{
    width: 100%;
}
.card-option{
    width: 100%;
}
.card-option img{
    width: 60px;
}
.card{
    border: 0;
}
.card-img img{
    width: 100%;
}
.card-logo img{
    width: 80px;
}
.card-title{
    font-size: 30px;
    font-weight: bold;
}
.card-text{
    font-size: 15px;
}
.card-option{
    width: 100%;
}
.special-title{
    padding-top: 120px;
}
.special-title{
    padding-top: 120px;
}
.about-text{
    color: #271d1d;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
}
.about-us{
    margin-top: 100px;
}
.about-bg img{
    height: 500px;
}
.contact-us{
    margin-top: 80px;
    background-color: #fffbf0;